$bgPrimary: #55382e;
$bgFourth: #11111157;
$bgSecondary: #222;
$accentText: #42B0E2;
$primaryText: #EEC5B0;
$secondaryText: #EEC5B0;
$line: #656c6d;
$border: #42B0E2;
$bgThird: #151515;
$thirdText: #888;
